body{
    margin: 0;
    padding: 0;
    font-family: 'SourceCodePro', sans-serif;
}

header{
    background-color: black;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 10px;
}

header img {
  float: left;
  margin-left: 100px;
  padding-left: 50px;
  height: 50px;
}

.navbar li {
  position: relative;
  display: inline-block;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 13px;
  margin-left: 30px;
}

.navbar  ul{
  margin: 0px 100px;
  text-align: center;
  padding-right: 50px;
}


.dropbtn::after {
  content: " ▼";
  font-size: 12px;
}

.dropdown-content{
    display: none;
    position: absolute ;
    
}

.dropdown-content li a {
  padding: 5px;
  text-decoration: none;
  background-color:#f9a825;
  
}

.navbar li:hover .dropdown-content {
  display: block;
} 

button{
    text-transform : uppercase;
    text-align:center;
    border-radius : 5px;
    height:40px;
    min-width: 170px;
    width: auto;
    line-height: 20px;
}

.button-nav{
   border-color: #f9a825;
   color: #f9a825;
   background-color: black;
}
.button-nav:hover{
  background-color:#f9a825;
  color: black;
}

.spactale h1{
  margin: 0;
  padding-top: 200px;
  font-family: none;
  font-weight: 400;
}
.spactale strong{
  font-weight: 700;
}
.spactale p{
  margin-right: 450px;
}
.spactale button{
  margin-bottom: 100px;
}
.tag-line img{
  float: left;
  width: 600px;
  height: 700px;
}

.button-fill{
  background-color: #f9a825;
  color: #0d1b2a;
  border-color: #f9a825;
}
.button-fill:hover{
  background-color: #0d1b2a;
  color: white;
  border-color: #0d1b2a;
}

.button-empty{
  background-color: white;
  color:#f9a825;
  border-color: #f9a825;
}
.button-empty:hover{
  background-color: #f9a825;
  color: #0d1b2a;
  border-color: #f9a825;
}

.menu{
  text-align: center;
  margin: 20px 10px;
  padding-top: 300px;
}

.menu img{
  margin-right: 10px;
  height: 300px;
  width: 250px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.menu h3{
  color: gray;
  margin: 40px;
}

.categories{
  margin-top: 30px;
  display: inline-flex;
  text-align: center;
  align-items: center;
}

.food{
  height: 50px;
  width: 50px;
}

 .breakfast{
   margin-left: 600px;
}
.lunch, .dinner, .drinks, .dessert{
  margin-left: 20px;
}

.categories a{
  text-decoration: none;
  color: black;
}
.categories a:hover{
  text-decoration: underline;
  text-decoration-color:#f9a825;
}

.noodles{
  height: 450px;
  width: 1000px;
  margin: 20px 260px;
}



/* Font */
@font-face {
  font-family: 'SourceCodePro';
  src: url('fonts/SourceCodePro-Regular.ttf');
}